html {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Lato', sans-serif;
}


/*header styling*/

.header {
  background-color: #FA6938;
  color: white;
  width: 100%;
  font-size: 11px;
  padding-left: 90px;
}

header {
  display: flex;
}

.header_div {
display: inline-flex;
}

.shadow {
  background-color: #C7532C;
  padding: 6px;
  margin-left: 0;

}

h4 {
  margin: 4px 20px;
  padding: 6px;
}

/*nav styling*/

.nav {
  display: flex;
  padding-left: 90px;
  /*width: 100%;*/
  border-bottom: 1px dashed grey;
}

.nav_div {
  width: 100%;
  display: flex;
}


.nav_links {
  display: inline-flex;
  width: 8%;
  height: 100%;
  padding: 6% 3% 0 3%;
  font-size: 1.8em;
}

h2 {
  padding: 10px;
  font-size: 1em;
  font-weight: lighter;
}


.hang_right {
  display: flex;
  width: 100%;
}

.cart, .search {
  padding: 10px;
  width: 40%
  /*margin: 1px;*/

} input {
  padding: 10px;
}

/*banner styling*/

.banner {
  background-color: #F4F4F4;
}

.banner_area {
  display: flex;
  text-align: center;
  margin-bottom: 90px;
  align-items: center;
  padding: 0 90px 50px 90px;
}

.banner h1 {
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 50px;
  margin: 0 auto;
  font-size: 3em;
  font-weight: lighter;
}

.banner_area li {
  list-style: none;
}

/*main styling*/

.main, .action {
  padding: 0 90px 0 90px;
}

.three {
  display: flex;
  list-style: none;
  margin: 20px;
  width: 100%;
}

.three li {
  margin: 20px;
  width: 30%;
}

.three img{
  width: 100%;
}

.tagline {
  text-align: center;
  display: block;
  margin-bottom: 75px;
  font-size: 2.2em;
  font-style: italic;
  font-weight: lighter;
}

.tagline a {
  color: #1782e0;
  font-style: normal;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 3px;
}

.story {
  margin-top: 10px;
}

/*call to action area above footer*/

.action {
  display: flex;
  list-style: none;
  border-top: 1px dashed grey;
}

.action p {
  display: inline-flex;
  margin: 0 auto;
}

#type_email {
  width: 65%;
  padding: 8px;
  border: 1px solid #d8d8d8;
  box-shadow: #f4f4f4 0 0 0 4px;
}

.sub_btn {
  color: white;
  background-color: #1782e0;
  border-radius: 3px;
  padding: 5px;
  font-size: .8em;
  margin: 15px auto;
  float: inherit;
  border: none;
}

.part {
  margin: 0 auto;
  padding: 15px;
}

.part p {
  padding-bottom: 20px;
}

.title {
  font-weight: 900;
}

/*note: not able to style, and using caption instead of the classname doesnt work with styling this. */
/*.caption {
  color: #1782e0;
  text-decoration: none;
}*/

.action div {
  width: 25%;
}

.action img {
  width: 100%;
}

/*footer styling*/

.footer {
  background-color: #F4F4F4;
  font-size: 1em;
  display: flex;
  border-top: 1px grey dashed;
  width: 100%;
}

.section {
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 20px;
}

footer {
  display: flex;
  font-size: .7em;
  padding-left: 90px;

}

.footer ul {
  color: #3A3A3A;
  display: inline-block;
  padding-left: 0;
}

.footer li {
  color: #B4B4B4;
  list-style: none;

}

.rights_section {
  display: flex;
  align-content: flex-end;
}

.rights {
  width: 100%;
  font-size: .5em;
}
